.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

div {
  margin-bottom: 70px;;
}
a {
  text-decoration: none !important;
  color: black !important;

}

a:hover{
  text-decoration: underline !important;
}

li{
  /* list-style-type: circle !important; */
  font-size: 20px;
}
.img-fluid{
  width: 100vw;
  height: auto;
}
.btn-outline-success{
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  float: right
}
.likes{

  border: 30px;
}

/* #car{
  height: auto !important;
} */
.btn-light{
  width: 100vw !important;
  text-align: center;
  border: 1px solid rgb(58, 55, 55) !important;
  margin-bottom: 10px;;
}


.NavCon{
  display: flex;
  height: .75em;
  justify-content: center;
  align-items: center;
}
.navbar{
  width: 100%;
  margin-bottom: -4em;
}
#search{
  position: sticky;
  height: 40px;
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  float: right
}

/* .navbar-custom{
  height: 100px;
} */

#navbarScroll{
  font-size: 20px;
}

@media only screen and (max-width: 600px){

  img{
    width: 100vw;
    height: auto !important;
  }
  
}